{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block content %}
  <div class="container d-flex">
    <div class="row mx-auto">
      <div class="col ">

        <form method="post">
          {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}

          {% if app.user %}
            <div class="m-3 badge bg-success">
              Vous êtes déja authentifié comme {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
          {% endif %}

          <h1 class="h3 m-3 fw-bold ">Connnexion</h1>
          <h2 class="h5 m-3">Merci de saisir vos identifiants de connexion</h2>
          <label for="inputEmail">E-mail</label>
          <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control m-3" autocomplete="email" required autofocus>
          <label for="inputPassword">Votre mot de passe</label>
          <input type="password" name="password" id="inputPassword" class="form-control m-3" autocomplete="current-password" required>

          <input type="hidden" name="_csrf_token"

                 value="{{ csrf_token('authenticate') }}"
          >

          <button class="btn btn-lg btn-primary mt-4" type="submit">
            Connexion
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
