{% extends 'base.html.twig' %}

{% block title %}Ajout annonce{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="m-5">Ajout annonce</h1>

    <p>Merci de vous enregistrer pour accéder à ce site.
      Une fois inscrit, merci de patienter le temps que votre compte soit activé.
    </p>

    <form method="post" class="m-5">
      {{ form_start(form) }}



      {{ form_row(form.title) }}
      {{ form_row(form.description) }}
      {{ form_row(form.address) }}
      {{ form_row(form.zipcode) }}
      {{ form_errors(form) }}


      {% if notification %}
      <div class="alert alert-info m-5">{{ notification }}</div>
      {% endif %}
      {{ form_end(form) }}
    </form>

    <p class="text-center mt-5">
      <a href="{{ path('app_recruiters') }}" class="btn btn-outline-info btn-lg mt-2">Retour à l’accueil</a></p>
  </div>
{% endblock %}
