{% extends 'base.html.twig' %}

{% block title %}Mise à jour Mot de passe{% endblock %}

{% block content %}


    <div class="container w-50">
        <h1 class="h2 m-4">Formulaire de mise à jour du mot de passe.</h1>

        {{ form_start(form) }}


        {{ form_errors(form) }}

        {{ form_row(form.email)}}
        {{ form_row(form.old_password) }}
        {{ form_row(form.new_password) }}

        {{ form_end(form) }}
        <a href="{{ path('app_candidates') }}" class="btn btn-outline-primary m-3">Retour à l’accueil Candidats</a>
        {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif %}
    </div>
{% endblock %}
